.DesContainer {
  display: grid;
  width: 97%;
  grid-template-columns: 31.25% 31.25% 31.25%;
  gap: 20px;
  margin-left: 15px;
}
.DesImg {
  display: grid;
  grid-template-rows: 350px auto;
  grid-template-columns: auto;
  border: 1px solid #ccc;
}
.Description {
  padding: 10px 5px 5px 5px;
  background-color: rgb(241, 241, 241);
  color: black;
}
.Description p {
  padding-top : 10px;
  padding-bottom : 10px;
}
.DesImg img {
  opacity: 1;
}
@media (max-width: 990px) {
  .DesImg {
    display: grid;
    grid-template-rows: 300px auto;
  }
}
@media (max-width: 789px) {
  .DesImg {
    grid-template-rows: 250px auto;
  }
}
@media (max-width: 600px) {
  .DesContainer {
    grid-template-columns: 98%;
    margin-left: 15px;
  }
  .DesImg {
    grid-template-rows: 300px auto;
  }
  .DesImg img {
    height: 350px;
  }
}
@media (max-width : 480px) {
  .DesContainer {
    margin-left : 10px;
  }
}
