.NavBar {
  padding: 0px;
  background-color: #f44336;
  height: 100%;
  position: fixed;
  width: 17%;
  font-size: 20px;
}

.NavMenu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 1em 2em;
}
.NavMenu li {
  padding: 6px 5px;
}
.NavMenu a {
  text-decoration: none;
  color: white;
}
.NavMenu li:hover {
  background-color: white;
}
.NavMenu li:hover a {
  color: black;
}

.CompanyName {
  display: flex;
  flex-direction: column;
  margin: 2em 5em 2em 2em;
  color: white;
}
.CompanyName p {
  padding-top: 0.5em;
  font-size: 23px;
  font-weight: bold;
}
.iconStyle {
  display : none;
  color : white;
  size : 2x;
}

@media (max-width: 990px) {
  .NavBar {
    width: 103%;
    position: fixed;
    height: 10%;
    z-index: 1;
    margin-bottom : 10px;
  }
  .NavMenu {
    display: none;
  }
  .CompanyName {
    position : relative;
    margin-block-start : 0px ;
    margin-block-end : 10px;
    margin-inline-start : 5px;;
    margin-inline-end : 0;
    padding : 0px;
    color: white;
  }
  .CompanyName p {
    font-size : 30px;
    padding-top : 0;
    padding-left : 40px;
  }
  .compMenu {
    display : flex;
    flex-direction : row;
    margin-inline-start : 40px;
  }
  .iconStyle {
    display : flex;
    margin-block-start : 35px;
    font-size : 30px;
  }
}
