.NavBar {
  padding: 0px;
  background-color: #f44336;
  height: 100%;
  position: fixed;
  width: 17%;
  font-size: 18px;
}
.toggleMenu {
  list-style-type : none;
  display : flex;
  flex-direction : column;
  background-color :#f44336;
  position : absolute;
  left : 0;
  /* margin : 0; */
  height : 1000px;
  width : 300px;
  padding : 0;
}
.toggleMenu li {
  padding : 6px 2em;
}
.toggleMenu a {
  text-decoration : none;
  color : white;
}

.toggleMenu li:hover {
  background-color: white;
}
.toggleMenu li:hover a {
  color: black;
}

.NavMenu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 1em 2em;
}
.NavMenu li {
  padding: 6px 5px;
}
.NavMenu a {
  text-decoration: none;
  color: white;
}
.NavMenu li:hover {
  background-color: white;
}
.NavMenu li:hover a {
  color: black;
}
.NavCompanyName {
  display: flex;
  flex-direction: column;
  margin: 2em 5em 2em 1.5em;
  color: white;  
}
.NavCompanyName p {
  padding-top: 0.5em;
  font-size: 20px;
  font-weight: bold;
}

.CompanyName {
  display: flex;
  flex-direction: column;
  margin: 2em 5em 2em 2em;
  color: white;
}
.CompanyName p {
  padding-top: 0.5em;
  font-size: 20px;
  font-weight: bold;
}
.iconStyle {
  display : none;
  color : white;
  size : 2x;
}

@media (max-width: 990px) {
  .NavBar {
    width: 100%;
    position: fixed;
    height: 12%;
    z-index: 1;
    margin-bottom : 10px;
  }
  .NavMenu {
    display: none;
  }
  .CompanyName {
    color: white;
    display : flex;
    flex-direction : column;
    justify-content : center;
  }
  .CompanyName p {
    font-size : 20px;
    
  }
  .compMenu {
    height : 30%;
    display : flex;
    flex-direction : row;
    margin-inline-start : 20px;
  }
  .iconStyle {
    margin-block-start : 25px;
    display : block;
    font-size : 30px;
  }
}
@media ( max-width : 357px) {
  .CompanyName p {
    font-size : 17px;
    margin-block-end : 11px;
  }
  .iconStyle {
    margin-block-start : 20px;
    font-size : 25px;
  }
}
@media ( max-width : 320px) {

  .CompanyName p {
    font-size : 16px;
    /* margin-inline-end : 0px; */
    margin-left : 0px;
  }

}
@media ( max-width : 296px) {

  .CompanyName p {
    font-size : 16px;
    margin-right : 5px;
  }

}