.DesContainer {
    display : grid;
    width : 97%;
    grid-template-columns : 29% 29% 29%;
    gap : 30px;
    margin-left : 20px;
}
.DesImg {
    display : grid;
    grid-template-rows : 350px auto;
    grid-template-columns : auto ;
    border: 1px solid #ccc;
}
.Description {
    padding:10px 5px 5px 5px;
    background-color:rgb(241,241,241);
    color:black;
}
.DesImg img {
    opacity : 1;
}