.ShowCaseImages {
    display : flex;
    flex-direction : column;
}
.rowImage {
    display : flex;
    width : 97%;
}
.rowImage > div {
    width :50%;
    padding : 5px;
}
div >  img {
    width : 100%;
    height : 400px;
    opacity : 0.8;

}
 div>img:hover {
    opacity : 1;
}
@media (max-width : 990px) {
    .rowImage {
        width : 99%;
    }
    div > img {
        height : 300px;

    }
}