@import "../node_modules/typeface-poppins";
* {
  margin: 0px;
}
.whole {
  display: flex;
  flex-direction: row;
  font-family: "Poppins", sans-serif;
}
@media (max-width: 992px) {
  .whole {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
  }
}
